/*=========  Default Style ========= */

html {
    font-size: 62.5%;
    color: #222;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

header {
    width: 100%;
}

img {
    vertical-align: bottom;
}

h1, h2, div, p {
    letter-spacing: 1px;
}

/*========= Tool Style ========= */

/*任何一个元素加上center-block就可以在父元素中居中显示*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.hr {
    width: 100%;
    margin: 0rem auto;
    height: 0.5rem;
}

/*========= customize header========= */
header {
    width: 100%;
}

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

header .top {
    line-height: 3rem;
    padding: 0 0 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}

header .main {
    padding: 0;
}

header .main .brand {
    float: left;
    padding: 1rem 0 0 0;
}

header .main .brand img {
    height: 2rem;
}

header .main ul {
    text-align: right;
}

header .main ul li {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: -3px;
    /*background: red;*/
}

header .main ul li + li {
    border-left: 1px solid #f0ede9;
}

header .main ul li a {
    display: inline-block;
    padding: 0 2rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active,
header .main ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/*========= customize container========= */
.container {
    width: 100%;
}

.service {
    background: #1fcf7e;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}

.container .service .wrapper {
    margin: 0 auto;
}

.container h2 {
    margin: 0;
}

.wrapper .hr {
    width: 12%;
    background: #46c562;

}

.sub-heading {
    line-height: 3rem;
    margin: 3rem 0;
    font-size: 2rem;
    padding: 0 4rem;
}

.service-detail {
    background: #2a2d32;
    color: #fff;
}

.service-detail-info > div {
    float: left;
}

.service-detail .img-section {
    width: 40%;
}

.service-detail .text-section {
    width: 50%;
}

.img-section img {
    width: 100%;
}

.text-section {
    position: relative;
    top: 0.7rem;
    left: 3.3rem;
}

.s1-item ul {
    float: left;
    margin-left: 9rem;
    margin-top: -2rem;

}

.s1-item ul li {
    list-style: circle;
}

/*========= customize footer========= */
footer {
    width: 100%;
}


