/* ----------------------------------------------- */
/* Default Style */
/* ----------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #222;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
    overflow-x: hidden;

}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

li {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

header {
    width: 100%;
}

img {
    vertical-align: bottom;
}

h1, h2, h3, div, p {
    letter-spacing: 1px;
}

section {
    padding: 3rem 0;
}

/* ----------------------------------------------- */
/* Tool Style */
/* ----------------------------------------------- */

/*任何一个元素加上center-block就可以在父元素中居中显示*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
}

.browser-upgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

h2:after {
    display: block;
    height: 0.2rem;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 3rem auto 0 auto;
}

h3 {
    margin-bottom: 1.5rem;
}

img {
    /*vertical-align: bottom;*/
}

.m0 {
    margin: 0 !important;
}

/* ----------------------------------------------- */
/* header */
/* ----------------------------------------------- */
header {
    width: 100%;
}

header .header-first {
    line-height: 3rem;
    padding: 0 0 0 1.5rem;
    color: #fff;
    background: #2ecc71;
    border-bottom: 1px #ecc000 solid;
}

header .header-second {
    overflow: hidden;
    line-height: 10rem;
    height: 10rem;
}

header .header-second .logo {
    float: left;
    padding: 0;
}

header .header-second ul {
    text-align: right;
    margin-right: 2rem;
}

header .header-second ul li {
    display: inline-block;
    /*background: red;*/
}

header .header-second ul li + li {
    border-left: 1px solid #f0ede9;
}

header .header-second ul li a {
    display: inline-block;
    padding: 0 2rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #130808;
    text-decoration: none;
}

header .header-second ul li a:hover,
header .header-second ul li a:active,
header .header-second ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/* ----------------------------------------------- */
/* banner */
/* ----------------------------------------------- */

.banner {
    background-image: url("../img/bg-l.jpg");
    height: 70vh;
    background-size: cover;
}

/* ----------------------------------------------- */
/* service */
/* ----------------------------------------------- */

h2 {
    font-size: 180%;
    word-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.s-service .long-copy {
    margin-bottom: 3rem;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.text-section {
    width: 40%;
    padding-left: 1.5rem;
}

.img-section {
    width: 50%;
}

.img-section img {
    width: 100%;

}

.text-section ul {
    float: left;
    margin-left: 3rem;
}

.text-section ul li {
    list-style: circle;
}

.s-row0 {
    background: #2ecc71;
}

.s-row1 {
    background: #1abc9c;

}

.s-row2 {
    background: #3498db;

}

.s-row3 {
    background: #9b59b6;

}

.s-row4 {
    background: #16a085;

}

.s-row5 {
    background: #8e44ad;

}

.s-row6 {
    background: #1abc9c;

}

/* ----------------------------------------------- */
/* mission */
/* ----------------------------------------------- */

.box {
    padding: 1%;
}

/* ----------------------------------------------- */
/* faq */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* contact */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* footer */
/* ----------------------------------------------- */

#google-map-small {

    height: 40rem;

    border-radius: 3rem;
}

footer {
    width: 100%;
    padding: 5rem 0 3rem;
    background-color: #7f8c8d;
}

